<template lang="html">
<div>



<div class="card" v-for="school of schools">
  <div class="card-title bg-primary text-white">
    Escola  {{ school.name }}
  </div>
  <div class="card-content card-force-top-padding">
    Diretor: {{ school.director }} <br/>
    Endereço: {{ school.andress.andress }} <br/>
    Email: {{ school.email }} <br/>
    Telefone: {{ school.phone }} <br/>
  </div>
  <div></div>
</div>



</div>
</template>

<script>
import { findAll } from 'services/school'
export default {
  data () {
    return {
      schools: []
    }
  },
  methods: {
    getAllSchool () {
      return findAll().then((data) => {
        this.schools = data
      })
    }
  },
  mounted () {
    this.getAllSchool()
  }
}
</script>

<style lang="css">
</style>
