<template lang="html">
  <div>
    <div class="card">
      <div class="card-title">
        Inscrição
      </div>
      <!-- Tabs -->
<q-tabs
  :refs="$refs"
  default-tab="tab-1"
>
  <q-tab name="tab-1" icon="message">
    Escola
  </q-tab>
  <q-tab name="tab-2" icon="fingerprint">
    Aluno
  </q-tab>

</q-tabs>

<div ref="tab-1">
  <div class="card-content bg-white ">
      <div class="row gutter wrap">
        <div class="column width-1of1">
          <q-autocomplete v-model="terms"  :delay="0" @search="search" @selected="selectedSchool"  :value="terms" :max-results="2">
          <q-search v-model="terms"></q-search>
          </q-autocomplete>
        </div>
        <div class="column width-1of1">
          <div class="floating-label">
            <q-select label="Série" v-model="student.serie" :options="seriesOptions" :value="student.serie"></q-select>
          </div>
        </div>

      </div>

  </div>
</div>
<div ref="tab-2">
  <div class="card">
    <div class="card-content bg-white ">
        <div class="row gutter wrap">
          <div class="column width-1of1">
          <div class="floating-label">
            <input required class="full-width" type="text" v-model="student.name">
            <label>Nome</label>
          </div>
          </div>
          <div class="column width-1of1">
            <q-datetime
              v-model="student.dateBirth"
              type="date"
                label="Data de Nascimento"
                format="DD/MM/YYYY"
            ></q-datetime>
          </div>
          <div class="column width-1of1">
            <div class="floating-label">
              <input required class="full-width" type="text" v-model="student.address">
              <label>Endereço</label>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
    </div>
    <div class="card-actions card-no-top-padding items-start bg-white">
        <div class="group">
          <button class="primary raised medium shadow-2" @click="save()">
            <i class="material-icons">save</i> Salvar
          </button>
          <button class="white raised medium shadow-2" @click="redirectToList">
            <i class="material-icons">cancel</i> Cancelar
          </button>
        </div>
      </div>
  </div>
</template>
<script>
import { Toast } from 'quasar'
import { postInscription } from 'services/inscription'
import { find, findSeries } from 'services/school'
export default {
  name: 'inscription',
  data () {
    return {
      student: {
        name: '',
        serie: '',
        dateBirth: '',
        address: '',
        typeSexy: null
      },
      typeSexys: [
        {
          label: 'Masculino', value: 'MASCULINO'
        },
        {
          label: 'Feminino', value: 'FEMININO'
        }
      ],
      seriesOptions: [],
      terms: ''
    }
  },
  methods: {
    save () {
      const { student } = this
      console.log(' obj ' + JSON.stringify(student))
      postInscription({ ...student }).then(data => {
        Toast.create('Registro Salvo com Sucesso')
      })
    },
    redirectToList () {

    },
    selectedSchool (select) {
      findSeries(select.value).then(data => {
        this.seriesOptions = data.map(value => ({ label: value.name, value: value.id }))
      })
    },
    search (term, done) {
      find(term).then(data => {
        // done([data])
        console.log(' objetos ' + JSON.stringify(data))
        const objs = data.map(value => ({ label: value.name, value: value.id }))
        done([...objs])
      })
    }

  }
}
</script>

<style lang="css">
</style>
