<script>
import { mapActions } from 'vuex'
export default {
  name: 'login-view',
  data () {
    return {
      user: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    ...mapActions(['doLogin']),
    attemptLogin () {
      const { user } = this
      this.doLogin({ ...user }).then(() => {
        this.$router.push('/')
      })
    }

  }
}
</script>

<template lang="html">
  <div>
  <div class="toolbar text-center">
    <q-toolbar-title :padding="1">
      Educa RioBranco
    </q-toolbar-title>
  </div>
    <div class="card">
      <div class="card-title text-center">
        <img src="statics/images/logo.png" class="image text-center" alt="logo">
      </div>
      <div class="card-content">
        <div class="floating-label">
          <input required class="full-width" v-model="user.username">
          <label>Usuário</label>
        </div>
        <div class="floating-label">
          <input required class="full-width" type="password" v-model="user.password">
          <label>Senha</label>
        </div>
      </div>
      <div class="card-actions no-border">
        <button class="primary small raised full-width" @click="attemptLogin"> Login </button>
      </div>
    </div>
  </div>
</template>

<style lang="css">
img {
  width: 50%;
  border-radius: 50%;
  text-align: center!important;
}

</style>
