<template lang="html">
  <q-drawer ref="leftDrawer">
     <div class="toolbar light">
           Educa RioBranco
     </div>

     <div class="list no-border platform-delimiter">

       <div class="list-label">Serviços</div>
       <hr>
       <q-drawer-link icon="home" to="/" exact>
         Inicio
       </q-drawer-link>
       <q-drawer-link icon="school" to="/school" exact>
         Escolas
       </q-drawer-link>
       <q-drawer-link icon="class" to="/inscription" exact>
         Inscrição
       </q-drawer-link>
       <q-drawer-link icon="face" to="/user" exact>
         Usuário
       </q-drawer-link>
       <q-drawer-link icon="group" to="/student" exact>
         Estudante
       </q-drawer-link>
       <q-drawer-link icon="person_outline" to="/auth" exact>
         Login
       </q-drawer-link>
     </div>
   </q-drawer>
</template>

<script>
import { Events } from 'quasar'
export default {
  name: 'drawer',
  mounted () {
    Events.$on('app:open', () => {
      this.$refs.leftDrawer.open(true)
    })
  }
}
</script>

<style lang="css">
</style>
