<template>
  <q-layout>
    <cc-navbar slot="header"></cc-navbar>
    <cc-drawer></cc-drawer>
    <div class="layout-view">
      <transition name="slide-left">
        <router-view></router-view>
      </transition>
    </div>
  </q-layout>
</template>

<script>
import CcNavbar from 'components/root/navbar'
import CcDrawer from 'components/root/drawer'

export default {
  name: 'layout-view',
  components: { CcNavbar, CcDrawer },
  data () {
    return {
      categorys: []
    }
  },
  methods: {

  },
  mounted () {

  }
}
</script>

<style lang="css" scoped>
/*.layout-view {
  background-color: #f4f4f6 !important;
}*/

</style>
