<template>
  <div class="list no-border platform-delimiter light-paragraph">
    <router-link to="/" exact tag="div" class="item cursor-pointer drawer-closer">
      <i class="item-primary">home</i>
      <div class="item-content">
        Home
      </div>
    </router-link>
    <hr>
    <router-link to="/task" tag="div" class="item cursor-pointer drawer-closer">
      <i class="item-primary">assignment_ind</i>
      <div class="item-content">
        Tarefas
      </div>
    </router-link>
    <router-link to="/map" tag="div" class="item cursor-pointer drawer-closer">
      <i class="item-primary">map</i>
      <div class="item-content">
        Mapa
      </div>
    </router-link>

    <router-link to="/graphic" tag="div" class="item cursor-pointer drawer-closer">
      <i class="item-primary">graphic_eq</i>
      <div class="item-content">
        Situação por Tarefas
      </div>
    </router-link>
  </div>
</template>

<script type="text/javascript">
  export default {}
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
</style>
