<template lang="html">
  <div class="toolbar">
    <q-toolbar-title :padding="1" class="text-left">
      <button class="hide-on-drawer-visible" @click="openDrawer()">
        <i>menu</i>
      </button>
    </q-toolbar-title>
    <div class="text-right">
      Educa RioBranco
    </div>
  </div>
</template>

<script type="text/javascript">
import { Events } from 'quasar'
export default {
  name: 'navbar-view',
  methods: {
    openDrawer () {
      Events.$emit('app:open', true)
    }
  }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">
.list
  hr+.list-label
    margin-top -8px
  .list-label
    color rgba(0,0,0,.54)
    font-size 14px
    font-weight 500
    line-height 48px
    padding-left 16px
    width 100%

.text-left
  text-align left

.text-right
  text-align right

.toolbar-title
  & > div > img
    height 36px
    float left
    margin 0 10px 0 0
  & > div > label
    font-size 20px
    line-height 30px
</style>
