<template lang="html">
<div>

  <div class="card-content bg-white">
    <transition>
      <gmap-map
  :center="center"
  :zoom="14"
  style="width: auto; height: 490px"
>
  <gmap-marker
    :key="index"
    v-for="(m, index) in school.markers"
    :position="m.position"
    :clickable="true"
    @click="toggleInfoWindow(m, index)"
  ></gmap-marker>

  <gmap-info-window :options="infoOptions" :position="infoWindowPos"
   :opened="infoWinOpen" :content="infoContent" @closeclick="infoWinOpen=false">

 </gmap-info-window>
</gmap-map>
    </transition>
  </div>
</div>
</template>

<script>
export default {
  name: 'map',
  data () {
    return {
      select: '',
      center: {lat: -9.981659, lng: -67.827706},
      markers: [],
      infoContent: '',
      infoWindowPos: {
        lat: 0,
        lng: 0
      },
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      infoWinOpen: false,
      school: {
        markers: [],
        schools: []
      }
    }
  },
  methods: {
    getMarkers () {
      this.$http.get('/auth/school').then(({ data }) => {
        this.school.markers = data.map(value => ({ position: ({ lat: parseFloat(value.andress.latitude), lng: parseFloat(value.andress.longitude) }), infoText: `<b> ${value.name}</b> <br /> ${value.director} <br /> ${value.andress.andress} <br /> <b> Total de vagas: ${value.vacancy}</b>` }))
        this.school.schools = data
      })
    },
    toggleInfoWindow (marker, idx) {
      this.infoWindowPos = marker.position
      this.infoContent = marker.infoText
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen
      }
      else {
        this.infoWinOpen = true
        this.currentMidx = idx
      }
    }

  },
  mounted () {
    this.getMarkers()
  }

}
</script>

<style lang="css">
</style>
