<template lang="html">
  <div>
    <div class="card">
      <div class="card-title">
        Usuário
      </div>
      <div class="card-content bg-white ">
          <div class="row gutter wrap">
            <div class="column width-1of1">
            <div class="floating-label">
              <input required class="full-width" type="text" v-model="user.login">
              <label>Login</label>
            </div>
            </div>
            <div class="column width-1of1">
              <div class="floating-label">
                <input required class="full-width" type="password" v-model="user.password">
                <label>Senha</label>
              </div>
            </div>
            <div class="column width-1of1">
              <div class="floating-label">
                <input required class="full-width" type="text" v-model="user.email">
                <label>E-mail</label>
              </div>
            </div>
            <div class="column width-1of1">
              <div class="floating-label">
                <input required class="full-width" type="text" v-model="user.firstname">
                <label>Primeiro Nome</label>
              </div>
            </div>
            <div class="column width-1of1">
              <div class="floating-label">
                <input required class="full-width" type="text" v-model="user.lastname">
                <label>Último Nome</label>
              </div>
            </div>

          </div>

      </div>
    </div>
    <div class="card-actions card-no-top-padding items-start bg-white">
        <div class="group">
          <button class="primary raised medium shadow-2" @click="save()">
            <i class="material-icons">save</i> Salvar
          </button>
          <button class="white raised medium shadow-2" @click="redirectToList">
            <i class="material-icons">cancel</i> Cancelar
          </button>
        </div>
      </div>
  </div>
</template>

<script>
import { Toast } from 'quasar'
import { postUser } from 'services/user'
export default {
  name: 'user',
  data () {
    return {
      user: {
        login: '',
        password: '',
        firstname: '',
        lastname: '',
        email: ''
      }
    }
  },
  methods: {
    save () {
      const { user } = this
      postUser({ ...user }).then(data => {
        console.log(' salvou o user ')
        Toast.create('Operação Realizada com Sucesso!')
      })
    },
    redirectToList () {

    }
  }
}
</script>

<style lang="css">
</style>
