<template lang="html">
  <div>
    <div class="card">
      <div class="card-title">
        Estudante
      </div>
      <div class="card-content bg-white ">
          <div class="row gutter wrap">
            <div class="column width-1of1">
            <div class="floating-label">
              <input required class="full-width" type="text" v-model="student.name">
              <label>Nome</label>
            </div>
            </div>
            <div class="column width-1of1">
              <q-datetime
                v-model="student.dateBirth"
                type="date"
                  label="Data de Nascimento"
                  format="DD/MM/YYYY"
              ></q-datetime>
            </div>
            <div class="column width-1of1">
              <div class="floating-label">
                <input required class="full-width" type="text" v-model="student.address.address">
                <label>Endereço</label>
              </div>
            </div>
            <!-- <div class="column width-1of1">
              <q-select label="Sexo" :options="typeSexys" :value="''" type="list" v-model="student.typeSexy"></q-select>
            </div> -->

          </div>

      </div>
    </div>
    <div class="card-actions card-no-top-padding items-start bg-white">
        <div class="group">
          <button class="primary raised medium shadow-2" @click="save()">
            <i class="material-icons">save</i> Salvar
          </button>
          <button class="white raised medium shadow-2" @click="redirectToList">
            <i class="material-icons">cancel</i> Cancelar
          </button>
        </div>
      </div>
  </div>
</template>

<script>
import { postStudent } from 'services/student'
import { Toast } from 'quasar'
export default {
  name: 'student',
  data () {
    return {
      student: {
        name: '',
        dateBirth: '',
        address: {
          address: ''
        },
        typeSexy: null
      },
      typeSexys: [
        {
          label: 'Masculino', value: 'MASCULINO'
        },
        {
          label: 'Feminino', value: 'FEMININO'
        }
      ]
    }
  },
  methods: {
    save () {
      const { student } = this
      postStudent({ ...student })
      .then(data => {
        console.log(' certo ' + JSON.stringify(data))
        Toast.create('Tarefa realizada com sucesso!')
      }).catch(err => {
        console.log(' errado ' + JSON.stringify(err))
      })
    },
    redirectToList () {
    }
  }
}
</script>

<style lang="css">
</style>
